appdirs==1.4.2
cycler==0.10.0
functools32==3.2.3.post2
future==0.16.0
matplotlib==2.0.0
numexpr==2.6.2
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pandastable==0.7.2
pkg-resources==0.0.0
Pmw==2.0.1
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
subprocess32==3.2.7
tkintertable==1.2
xlrd==1.0.0
